Package: com.flux.aoproximity
Name: Always On Proximity
Depends: firmware (>= 5.0), mobilesubstrate, libactivator, gsc.telephony
Version: 1.1
Architecture: iphoneos-arm
Description: Enable or disable your phone's proximity sensor by a simple activator gesture.
Author: flux
Section: Tweaks
