Package: com.flux.aoproximity
Name: Always On Proximity
Depends: firmware (>= 5.0), mobilesubstrate, gsc.telephony
Version: 1.2
Architecture: iphoneos-arm
Description: Toggle your phone's proximity sensor by a simple activator gesture.
Author: flux
Section: Tweaks
